########################################
# Motherboard model - FLY_DP5
# Please modify it based on your motherboard model
# 请根据您的主板型号修改
########################################
#[include boards/FLY_GEMINI_V1.cfg]
#[include boards/FLY_GEMINI_V1.1.cfg]
#[include boards/FLY_GEMINI_V2.cfg]
#[include boards/FLY_GEMINI_V3.cfg]
#[include boards/FLY_DP5.cfg]

[include mainsail.cfg]

[include KAMP_Settings.cfg]

#[include moonraker_obico_macros.cfg]

# host MCU service is preinstalled and ready to use with:
#[mcu CB2]
#serial: /tmp/klipper_host_mcu
[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32f072xb_180039000557465036383420-if00

[mcu nhk]
##  Obtain definition by "ls -l /dev/serial/by-id/" then unplug to verify
##--------------------------------------------------------------------
serial: /dev/serial/by-id/usb-Klipper_rp2040_4E363334320F7D62-if00
restart_method: command


[virtual_sdcard]
path: ~/printer_data/gcodes

[printer]
kinematics: corexy
max_velocity: 300
max_accel: 3000
max_z_velocity: 5
max_z_accel: 100

#####################################################################
#   Accelerometer
#####################################################################
[adxl345]
cs_pin: nhk:gpio27
spi_software_sclk_pin: nhk:gpio18
spi_software_mosi_pin: nhk:gpio20
spi_software_miso_pin: nhk:gpio19


[resonance_tester]
accel_chip: adxl345
probe_points: 100, 100, 20
##--------------------------------------------------------------------


########################################
# Temp
########################################
[temperature_sensor FLY-DP5]
sensor_type: temperature_host

#[temperature_sensor FLY-MCU]
#sensor_type: temperature_mcu

########################################
# Drives
########################################
#Driver 0
[stepper_x]
step_pin: PC15
dir_pin: PC14
enable_pin: !PC2
microsteps: 16
rotation_distance: 40
endstop_pin: nhk:gpio13
position_endstop: 250
position_max: 250
homing_speed: 40
#position_min: 13.50


[tmc2209 stepper_x]
uart_pin: PC13
run_current: 0.800
interpolate: False

#Driver 1
[stepper_y]
step_pin: PA1
dir_pin: PA0
enable_pin: !PA2
microsteps: 16
rotation_distance: 40
endstop_pin: PB3
position_endstop: 243
position_max: 243
homing_speed: 40
#position_min: 28.5

[tmc2209 stepper_y]
uart_pin: PC3
run_current: 0.800
interpolate: False

#Driver 2 - Front Left
[stepper_z]
step_pin: PA5
dir_pin: !PA4
enable_pin: !PA6
microsteps: 16
rotation_distance: 4
endstop_pin: probe:z_virtual_endstop
homing_speed: 100
position_max: 285.000
position_min: -10


[tmc2209 stepper_z]
uart_pin: PA3
run_current: 0.800
#interpolate: true
run_current: 1.0
#hold_current: 0.7
sense_resistor: 0.110
#stealthchop_threshold: 999999

#Driver 3 - Middle Back
[stepper_z1]
step_pin: PC5
dir_pin: PC4
enable_pin: !PB0
microsteps: 16
rotation_distance: 4

[tmc2209 stepper_z1]
uart_pin: PA7
#interpolate: true
run_current: 0.8
#hold_current: 0.7
sense_resistor: 0.110

#Driver 4 - Front Right
[stepper_z2]
step_pin: PB10
dir_pin: !PB2
enable_pin: !PB11
microsteps: 16
rotation_distance: 4

[tmc2209 stepper_z2]
uart_pin: PB1
#nterpolate: false
run_current: 0.8
#hold_current: 0.7
sense_resistor: 0.110
stealthchop_threshold: 999999
#run_current: 0.600
#diag_pin:


[extruder]
step_pin: nhk:gpio23
dir_pin: nhk:gpio24
enable_pin: !nhk:gpio25
heater_pin: nhk:gpio9
sensor_pin: nhk:gpio29
pullup_resistor: 2200
microsteps: 16
rotation_distance: 53.494165
gear_ratio: 44:10, 37:17
nozzle_diameter: 0.400
filament_diameter: 1.750
max_extrude_cross_section: 30
max_extrude_only_distance: 101
sensor_type: NTC 100K MGB18-104F39050L32

min_temp: 0
max_temp: 290

[tmc2209 extruder]
sense_resistor: 0.100
uart_pin: nhk:gpio0
tx_pin: nhk:gpio1
interpolate: false
run_current: 0.65        #recommend setting it below 0.7A.




#control: pid
#pid_Kp: 0
#pid_Ki: 0
#pid_Kd: 0




########################################
# BED
########################################
[heater_bed]
heater_pin: PC7
sensor_pin: PC0
sensor_type: Generic 3950
#control: watermark
min_temp: 0
max_temp: 200

[probe]
pin: !nhk:gpio10
deactivate_on_each_sample: False
x_offset: -33
y_offset: -7
#z_offset: -1  # Will be overridden when you do a PROBE_CALIBRATE
speed: 5.0
samples: 1
samples_result: median
sample_retract_dist: 5.0
samples_tolerance: 0.1 # 0.1 if needed
samples_tolerance_retries: 3 # 4 if needed

[bed_mesh]
speed: 60
horizontal_move_z: 8
mesh_min: 0,0
mesh_max: 217, 236
probe_count: 5, 5




## PCB Activity Light
[output_pin act_led]
pin: !nhk:gpio8

#####################################################################
#   Fans
#####################################################################
## PCF
[fan]
pin: nhk:gpio6


## HEF
[heater_fan hotend_fan]
pin: nhk:gpio5
tachometer_pin: nhk:gpio16
tachometer_ppr: 2



[safe_z_home]
home_xy_position: 125, 121
speed: 50
z_hop: 10
z_hop_speed: 10.0
move_to_previous: False


[z_tilt]

z_positions:
   5, 0
   125, 243
   250, 0
points:
   30, 0
   125, 243
   250,0
  
speed: 80
horizontal_move_z: 5
retries: 8
retry_tolerance:0.070



#[safe_z_home]
#home_xy_position: 105,105

########################################
 #Mini 12864 LCD
########################################
#[display]
#lcd_type: uc1701
#cs_pin: EXP1_3
#a0_pin: EXP1_4
#rst_pin: EXP1_5
#contrast: 63
#encoder_pins: ^EXP2_5, ^!EXP2_3
#click_pin: ^!EXP1_2
##spi_bus: spi1

#####适用于FLY Mini12864
#[neopixel fly_mini12864]
#pin: EXP1_6
#chain_count: 3
#initial_RED: 0.1
#initial_GREEN: 0.5
#initial_BLUE: 0.0
#color_order: RGB


#[neopixel TP_led]
#pin: PB7
#chain_count: 25
# Number of LEDs
# Number of LEDs
#color_order: GRB
#initial_RED: 0.4    
#initial_GREEN: 0.8
#initial_BLUE: 1
#initial_WHITE: 0.0
#66CCFF 

#[led_effect sb_nozzle_cooling]
#autostart:              false
#frame_rate:             24
#leds:
   # neopixel:TP_led (9,10)
#layers:
        #breathing  3 1 top (0.0, 0.0, 1.0, 0.1)

#[led_effect rainbow]
#leds:
   # neopixel:TP_led
#autostart:                          true
#frame_rate:                         24
#layers:
   # gradient  0.3  1 add (0.3, 0.0, 0.0),(0.0, 0.3, 0.0),(0.0, 0.0, 0.3)

#####################################################################
#   LED Control
#####################################################################

[output_pin caselight]
## Chamber Lighting - FAN1
pin: PC9
pwm:true
shutdown_value: 0
value:1
cycle_time: 0.01

[exclude_object]


[board_pins]
aliases:
    # Stepper drivers
    D0_EN=PC2,   D0_STEP=PC15,  D0_DIR=PC14,  D0_CS=PC13, D0_STOP=PB4,  # X
    D1_EN=PA2,   D1_STEP=PA1,   D1_DIR=PA0,   D1_CS=PC3,  D1_STOP=PB3,  # Y
    D2_EN=PA6,   D2_STEP=PA5,   D2_DIR=PA4,   D2_CS=PA3,  D2_STOP=PD2,  # Z
    D3_EN=PB0,   D3_STEP=PC5,   D3_DIR=PC4,   D3_CS=PA7,  D3_STOP=PB5,  # E0
    D4_EN=PB11,  D4_STEP=PB10,  D4_DIR=PB2,   D4_CS=PB1,                # E1

    # Heaters
    BED_OUT=PC7,
    HEAT0=PC6,

    # Thermisors
    BED_TEMP=PC0,
    HEAT0_TEMP=PC1,
   
    # Fans
    FAN0=PC8, FAN1=PC9,

    # EXP1 header
    EXP1_1=<NC>,  EXP1_3=PC11,  EXP1_5=PC10,  EXP1_7=<NC>,  EXP1_9=<GND>,
    EXP1_2=PA15,  EXP1_4=PA14,  EXP1_6=PA13,  EXP1_8=<NC>,  EXP1_10=<5V>,
    
    # EXP2 header
    EXP2_1=PB14, EXP2_3=PC12,  EXP2_5=PB6,   EXP2_7=PB7,    EXP2_9=<GND>,
    EXP2_2=PB13, EXP2_4=PB12,  EXP2_6=PB15,  EXP2_8=<RST>,  EXP2_10=<NC>,

    # BL Touch
    SERVO=PA8   # BL Touch servo pin

#####################################################################
#   Macros
#####################################################################
[gcode_macro PRINT_START]
gcode:
  # This part fetches data from your slicer. Such as bed, extruder, and chamber temps and size of your printer.
  {% set target_bed = params.BED|int %}
  {% set target_extruder = params.EXTRUDER|int %}
  {% set target_chamber = params.CHAMBER|default("45")|int %}
  {% set x_wait = printer.toolhead.axis_maximum.x|float / 2 %}
  {% set y_wait = printer.toolhead.axis_maximum.y|float / 2 %}

  ##  Uncomment for Beacon Contact (1 of 4 for beacon contact)
  #SET_GCODE_OFFSET Z=0                                 # Set offset to 0

  # Home the printer, set absolute positioning and update the Stealthburner LEDs.
  #STATUS_HOMING                                         # Set LEDs to homing-mode
  G28                                                   # Full home (XYZ)
  G90                                                   # Absolute position

  ##  Uncomment for bed mesh (1 of 2 for bed mesh)
  BED_MESH_CLEAR                                       # Clear old saved bed mesh (if any)

  # Check if the bed temp is higher than 90c - if so then trigger a heatsoak.
  {% if params.BED|int > 90 %}
    SET_DISPLAY_TEXT MSG="Bed: {target_bed}c"           # Display info on display
    M106 S255                                           # Turn on the PT-fan

    ##  Uncomment if you have a Nevermore.
    #SET_PIN PIN=nevermore VALUE=1                      # Turn on the nevermore

    G1 X{x_wait} Y{y_wait} Z15 F9000                    # Go to center of the bed
    M190 S{target_bed}                                  # Set the target temp for the bed
    SET_DISPLAY_TEXT MSG="Heatsoak: {target_chamber}c"  # Display info on display
    TEMPERATURE_WAIT SENSOR="temperature_sensor chamber" MINIMUM={target_chamber}   # Waits for chamber temp

  # If the bed temp is not over 90c, then skip the heatsoak and just heat up to set temp with a 5 min soak
  {% else %}
    SET_DISPLAY_TEXT MSG="Bed: {target_bed}c"           # Display info on display
    G1 X{x_wait} Y{y_wait} Z15 F9000                    # Go to center of the bed
    M190 S{target_bed}                                  # Set the target temp for the bed
    SET_DISPLAY_TEXT MSG="Soak for 5 min"               # Display info on display
    G4 P300000                                          # Wait 5 min for the bedtemp to stabilize
  {% endif %}

  # Heat hotend to 150c. This helps with getting a correct Z-home.
  SET_DISPLAY_TEXT MSG="Hotend: 150c"                   # Display info on display
  M109 S150                                             # Heat hotend to 150c

  ##  Uncomment for Beacon contact (2 of 4 for beacon contact)
  #G28 Z METHOD=CONTACT CALIBRATE=1                     # Calibrate z offset and beacon model

  ##  Uncomment for Trident (Z_TILT_ADJUST)
  #SET_DISPLAY_TEXT MSG="Leveling"                      # Display info on display
  STATUS_LEVELING                                      # Set LEDs to leveling-mode
  Z_TILT_ADJUST                                        # Level the printer via Z_TILT_ADJUST
  G28 Z                                                # Home Z again after Z_TILT_ADJUST

  ##  Uncomment for V2.4 (Quad gantry level AKA QGL)
  #SET_DISPLAY_TEXT MSG="Leveling"                      # Display info on display
  #STATUS_LEVELING                                      # Set LEDs to leveling-mode
  #QUAD_GANTRY_LEVEL                                    # Level the printer via QGL
  #G28 Z                                                # Home Z again after QGL

  ##  Uncomment for bed mesh (2 of 2 for bed mesh)
  SET_DISPLAY_TEXT MSG="Bed mesh"                      # Display info on display
  #STATUS_MESHING                                       # Set LEDs to bed mesh-mode
  BED_MESH_CALIBRATE                                   # Start the bed mesh (add ADAPTIVE=1) for adaptive bed mesh

  ## Uncomment for Beacon Contact (3 of 4 for beacon contact)
  #G28 Z METHOD=CONTACT CALIBRATE=0                     # Calibrate z offset only with hot nozzle

  # Heat up the hotend up to target via data from slicer
  SET_DISPLAY_TEXT MSG="Hotend: {target_extruder}c"     # Display info on display
  STATUS_HEATING                                        # Set LEDs to heating-mode
  G1 X{x_wait} Y{y_wait} Z15 F9000                      # Go to center of the bed
  M107                                                  # Turn off partcooling fan
  M109 S{target_extruder}                               # Heat the hotend to set temp

  ##   Uncomment for Beacon Contact (4 of 4 for beacon contact)
  #SET_GCODE_OFFSET Z=0.06                              # Add a little offset for hotend thermal expansion

  # Get ready to print by doing a primeline and updating the LEDs
  SET_DISPLAY_TEXT MSG="Printer goes brr"               # Display info on display
  STATUS_PRINTING                                       # Set LEDs to printing-mode
  G0 X{x_wait - 50} Y35 F10000                          # Go to starting point
  G0 Z0.4                                               # Raise Z to 0.4
  G91                                                   # Incremental positioning 
  G1 X100 E20 F1000                                     # Primeline
  G90                                                   # Absolute position

[gcode_macro PRINT_END]
#   Use PRINT_END for the slicer ending script - please customise for your slicer of choice
gcode:
    # safe anti-stringing move coords
    {% set th = printer.toolhead %}
    {% set x_safe = th.position.x + 20 * (1 if th.axis_maximum.x - th.position.x > 20 else -1) %}
    {% set y_safe = th.position.y + 20 * (1 if th.axis_maximum.y - th.position.y > 20 else -1) %}
    {% set z_safe = [th.position.z + 2, th.axis_maximum.z]|min %}
    
    SAVE_GCODE_STATE NAME=STATE_PRINT_END
    
    M400                           ; wait for buffer to clear
    G92 E0                         ; zero the extruder
    G1 E-2.0 F3600                 ; retract filament
    
    TURN_OFF_HEATERS
    
    G90                                      ; absolute positioning
    G0 X{x_safe} Y{y_safe} Z{z_safe} F20000  ; move nozzle to remove stringing
    G0 X{th.axis_maximum.x//2} Y{th.axis_maximum.y - 2} F3600  ; park nozzle at rear
    M107                                     ; turn off fan
    
    BED_MESH_CLEAR
    RESTORE_GCODE_STATE NAME=STATE_PRINT_END
    SET_SKEW CLEAR=1


# Enable exclude_object for adaptive meshing
[exclude_object]

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 11.269
#*# pid_ki = 0.359
#*# pid_kd = 88.322
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 52.467
#*# pid_ki = 2.650
#*# pid_kd = 259.714
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	-0.022500, -0.030000, -0.045000
#*# 	-0.030000, -0.057500, -0.070000
#*# 	-0.030000, -0.055000, -0.065000
#*# x_count = 3
#*# y_count = 3
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = lagrange
#*# tension = 0.2
#*# min_x = 110.159
#*# max_x = 164.81900000000002
#*# min_y = 113.355
#*# max_y = 161.635
#*#
#*# [probe]
#*# z_offset = 0.755
#*#
#*# [input_shaper]
#*# shaper_type_x = 2hump_ei
#*# shaper_freq_x = 92.0
#*# shaper_type_y = mzv
#*# shaper_freq_y = 47.6
#*#
#*# [skew_correction Califlower]
#*# xy_skew = 0.0
#*# xz_skew = 0.0
#*# yz_skew = 0.0
